body {
  background: radial-gradient(circle at top, #1a1f4d, #050716);
  color: white;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  color: white;
}

/* Sidebar */
.sidebar {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  min-height: 100vh;
  border-radius: 20px;
  padding: 20px;
  color: white;
}

/* Sidebar Links */
.sidebar a {
  color: #ddd;
  padding: 12px;
  display: block;
  border-radius: 10px;
  margin-bottom: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: white;
  box-shadow: 0 0 15px rgba(106, 17, 203, 0.6);
}

/* Stat Cards */
.stat-card {
  border-radius: 20px;
  padding: 25px;
  color: white;
  font-size: 22px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

/* Section Box */
.table-box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  color: white;
}

/* Grid */
.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

/* Video */
.media-box video {
  width: 100%;
  height: 100%;
  max-height: 230px;
  object-fit: contain;   /* full video show hogi, crop nahi hogi */
  border-radius: 15px;
  background: black;     /* empty space black dikhe */
}

/* Media Card Layout Fix */
.media-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   /* center alignment */
  transition: 0.3s;
}


.media-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(106, 17, 203, 0.6);
}

/* Video */
.media-box video {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
}

/* Audio */
.media-box audio {
  width: 100%;
  margin-top: 10px;
}

/* Title */
.media-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
